body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #242424;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.36' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: rgb(185, 184, 184);
}
.title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    letter-spacing: 3px;
    background-color: rgb(26, 28, 150);
    color: rgb(250, 248, 246);
    opacity: 0.7;
    border-style: outset;
    border-radius: 150%;
}

h2 {
    text-align: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.6;
    font-weight: bolder;
}

h3, h4 {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.6;
    font-weight: bolder;
}

.list {
    font-size: 20px;
    font-family: monospace;
    font-weight: bolder;
    list-style-position: outside
}

.ul1 {
    
    /* font-family: Arial, Helvetica, sans-serif; */
    list-style-position: inside;
    direction: rtl;
}

p {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    letter-spacing: 3px;
}

.list-3 {
    /* font-family: Arial, Helvetica, sans-serif; */
    list-style-position: inside;
    direction: rtl;
}

.AboutTeam{
    text-align: left;
    margin-left: 100px;
}

.Team{
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    font-size: initial;
}

.TeamMember {
    font-size: x-large;
    padding-top: 20px;
}