.table1-rowFont{
display: flex;
    justify-items: center;
}
.edit-button{
    margin-left: 75%;
}
.appRight{
    position: auto;
    right: auto;
    width: 670px;
}
.appLeft{
    overflow: scroll;
}
nav{
    position: top;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: rgb(21, 21, 146); opacity:0.6;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    border-color: white;
    border: white;
    
}
nav a{
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    border-color: white;
    border: white;
    border-style: solid;
}
nav a:hover{
    background: yellow;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border-color: white;
    border: white;
    border-style: solid;
}