.priority__value[id$="1"]{
    background-color:red;
    color: white;
}
.priority__value[id$="2"]{
     background-color:orange;
}


/* Grabs all id's with index of ONE */
/* [id$="1"]{
    background-color: orange;
} */

/* Colors entire column RED
/* .priority__value{
    background-color: red
} */ 