body {
    font-family: Monaco, Menlo, Consolas, 'Droid Sans Mono', Inconsoldata, 'Courier New', monospace;
    background-color: rgb(2, 3, 51);
}
table, th, td {
    border: 1px solid black;
    /* border-collapse: collapse; */
}
/* .table1 tr:hover{
    background-color: rgb(173, 204, 209);
    background-color: yellow;
} */

#appRow tr a.appLeft {
    background-color: white;
}
/* #appRow tr a:active,
#appRow tr a:focus{
    background-color: rgb(173, 204, 209);
} */

/* #appRow tr :focus{
    background-color: rgb(173, 204, 209);
    background-color: red;
} */

/* #table1__rowHighlight tr:active */
#table1__rowHighlight :focus{
    background-color: red;
}


.table-1 tr:first-child:hover{
    background-color:rgb(21, 21, 146);
}
.table-2 {
    height: 267px;
    max-height: 267px;
     display: block;
    background-color: white;
}
.table-2_header{
    background-color: rgb(219, 219, 106);
}

.floatLeft { width: 65%; float: left; }
.floatRight {width: 50%; float: right; }

.container { overflow: hidden; }

.table_header{
    background-color: rgb(21, 21, 146);
    color: white;
}
.table1__rowFont{
    background-color: white;
}
.header{
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(2, 3, 56);
    color: rgb(226, 141, 71);
    opacity: 0.7;
    
}
tbody {
    background-color: whitesmoke;
}

.appLeft h1{
    border-style: solid;
    margin-right: 36%;
}

.table-2__header{
    margin-left: 20%;
    font-size: 40px;

}
.appRight {
    background-color: rgb(173, 204, 209);
    border-radius: 8px;
}
.add__releaseTaskButton{
    color: white;
    background-color: red;
    border-radius: 6px;
}
.add__releaseTaskButton:hover{
    background-color: yellow;
    color: black;
}
.edit__releaseTaskButton:hover{
    background-color: yellow;
}
.edit__releaseTaskButton{
    color: black;
    font-weight: bold;
    background-color: chartreuse;
    border-radius: 8px;
}
.edit-releaseTask__submit{
    background-color: chocolate;
    font-weight:bold;
    border-radius: 10px;
}
.edit-releaseTask__submit:hover{
    background-color: yellow;
}